.slide-fade-enter-active {
  transition: all .3s ease;
}
.slide-fade-leave-active {
  transition: all .3s cubic-bezier(1.0, 0.5, 0.8, 1.0);
}
.slide-fade-enter, .slide-fade-leave-to
  /* .slide-fade-leave-active below version 2.1.8 */ {
  transform: translateY(-10px);
  opacity: 0;
}

.list-enter-active {
  transition: all .8s ease;
}
.list-leave-active {
  transition: all .3s ease;
}
.list-enter, .list-leave-to {
  opacity: 0;
  transform: translateY(30px);
}